  body{
  background: black;
  font-family: 'Dancing Script'

  }
  .pagina{
    width: 90%;
    margin:0px 5%;
    animation: slidein 1.5s;
  }
  header{
    margin:0px auto;
    color: white;
    background-color: #5b7989;
    text-shadow: 2px 1px #02010a;
    width: 90%;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
  }
  h1{
    position: relative;
    top: 20px;
    left: 30px;
    display: inline;
  }
  nav{
    padding: 25px;
    display: inline;
    float: right;
    font-size: 1.5em;
  }
  footer{
    background-color: #C6d5c5;
    border-radius: 0px 0px 10px 10px;
    width: 90%;
    margin: 0px 5%;
  }
  #inicio{
  text-decoration: none;
  }
  a:link,a:visited{
    color: white;
  }
  img{
    width:100%;

  }
  #wrap{
  display: inline-flex;
  flex-direction: column;
  width: 90%;
   margin: 0px 5%;
  }
  #id{
  display: flex;
  flex-direction: row;

  }
  .principal {
     background-color: #82c3a6;
    margin: 0px auto;
    padding: 5%;
    width: 90%;
  }
  .secundario{
    background-color:#d5c75f;
    border: 3px;
    display: flex;
    flex-direction: row;
    padding: 5%;
    width:90%;
    height: auto;
  }
  .pie{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .sec1{
    width: 50%;
    padding-right: 2.5%;
    transition: transform 1s;
    box-shadow: #82c3a6 ;
  }
  .sec1:hover{
    transform: rotate(10deg);
    transition: transform 1s;
  }
  .sec1 img{
    box-shadow:2px 1px #82c3a6 ;
     border: 2px solid;
  }
  .sec2{
    width: 50%;
    padding-left: 2.5%;
    transition: transform 1s;
  }
  .sec2:hover{
    transform:translateY(-5px)
              translateX(20px);
    transition: transform 1s;
  }
  .sec2 img{
    border:0px solid black;
    transition: box-shadow 1s;
    animation: sborde 1s;
  }
  .sec2 img:hover{
    box-shadow:2px 1px #82c3a6 ;
    border: 2px solid;
    animation: borde 1s;
    transition: box-shadow 1s;
  }
  .contacto,.terminos,.redes,.derechos{
    width: 25%;
    padding-left: 50px;
  }
  .pie img{
   width: 20px;
  }
  @-webkit-keyframes slidein {
    0%{
      margin-top: 80%;
    }
    60%{
      margin-top: -5%;
    }
    100%{
      margin-top: 0%;
    }
  }
  @-webkit-keyframes borde {
    from{
      border: 0px solid black
    }
  to{
    border: 2px solid black;
    }
  }
  @-webkit-keyframes sborde {
    from{
      border: 2px solid black
    }
  to{
    border: 0px solid black;
    }
  }
  @media screen and (max-width: 900px){
    .foto1,.foto2,.foto3,.foto4,.foto5,.foto6{
    width: 100%;}
    body{
    width: 100;
  }

    .pagina{
      width: 100%;
      margin: 0px 0px;
    }
    header{
    display:block;
      width: 100%;
    margin: 0px 0px;
    padding-top: 0px;
    }
     .dh1{
      width: 100%;
      margin: 0px auto;
      text-align: center;
      padding-bottom: 10px;
    }

    nav{
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }
    #wrap{
    width: 100%;
    margin: 0px 0px;
  }
  .secundario{
    background-color:#d5c75f;
    display: flex;
    flex-direction: column;

  }
  .enlace1,.enlace2{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
  }
  .sec1,.sec2{
    width: 100%;
    padding: 10% 0px;
  }
  p a{
  width: 50%;
  margin: 0px auto;
  font-size: 1.5em;
}
  footer{
    width: 100%;
    margin: 0px 0px;
  }

    .pie{
      display: flex;
      flex-direction:column;
      width: 100%;
      margin: 0px auto;

    }
    .contacto,.terminos,.redes,.derechos{
      margin: 0px auto;
    }
  }
